.movies {
    padding-top: 60px;
}

.button-container {
   display: flex;
   justify-content: center;
   margin-top: 40px;

   @media screen and (min-width: 1440px) {
    justify-content: left;
    margin-top: 55px;
   }

}

.button-more {
    width: 140px;

    @media screen and (min-width: 768px) {

    }
}

