body {
    background-color: var(--background-color);
    color: var(--main-text-color);

    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 20px;

    margin: 0;
}

a {
    cursor: pointer;
    text-decoration-line: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    border: none;
}

h1,
h2,
h3,
h4,
p,
ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.container {
    min-width: 360px;
    max-width: 360px;
    margin: 0 auto;
    padding: 15px;

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    @media screen and (min-width: 1440px) {
        max-width: 1440px;
    }
}

.button {
    border: none;
    cursor: pointer;

    height: 50px;
    border-radius: 100px;
    background: var(--button-background);

    color: var(--black-text-color);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px; 

    &:hover,
    &:focus {
        background: var(--button-background-active);
        box-shadow: var(--button-active-shadow);
        color: var(--main-text-color);
    }
}

.text {
    display: flex;
    align-items: center;
    padding-bottom: 30px;

    &::before{
    content: "";
    display: inline-block;
    background:var(--button-background-active) ;
    width: 8px; 
    height: 35px;
    margin-right: 11px;
    border-radius: 50px;
    }
}