:root {
    --main-text-color: #FFFFFF;
    --secondary-text-color: #C2C2C2;
    --black-text-color: #323232;

    --background-color: #000000;
    --background-color-footer: #101012;
    --button-background: #FFFFFF;
    --star-color: rgba(255, 184, 0, 1);
    --button-background-active: linear-gradient(317deg, rgba(37,255,240,1) 35%, rgba(50,108,255,1) 100%);
    --button-active-shadow: drop-shadow(0px 4px 50px rgba(50, 108, 255, 0.50));
    --card-hover: 0px 4px 40px 8px rgba(29,157,186,0.67);
}

